asgiref==3.11.1
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
cowsay==6.1
Django==6.0.2
django-debug-toolbar==6.2.0
django-filter==25.2
djangorestframework==3.16.1
emoji==2.14.1
idna==3.10
iniconfig==2.1.0
Markdown==3.10.1
packaging==25.0
pluggy==1.5.0
Pygments==2.19.2
pytest==8.3.5
requests==2.32.3
sqlparse==0.5.5
tabulate==0.9.0
tzdata==2025.3
urllib3==2.4.0
